<div class="row post" ng-repeat="info in usersShow.userInfos">
  <div class="col-md-4">
    <h3>{{ info.createdBy }}</h3>
    <img ng-src="{{ info.imageSRC }}">
  </div>
  <div class="col-md-4">
    <p>Number? {{ info.number }}</p>
    <p>Are there children? {{ info.children }}</p>
    <p>Are there pets? {{ info.pets }}</p>
    <p>Comment: {{ info.comment }}</p>
  </div>
  <div class="col-md-3">
    <button ng-click="usersShow.delete()" class="btn">Delete</button>
    <button ui-sref="infoEdit({ id: infoShow.info.id })" class="btn">Edit</button>
    <button class="btn">Donate</button>
  </div>
</div>
