<h3>{{ usersShow.user.username }}</h3>
<div class="subNav">
<a ui-sref="donate" class="subNavBtn">Donate</a>
<button ng-click="usersShow.delete()" class="subNavBtn">Delete Account</button>
</div>

<div class="row userInfo" ng-repeat="info in usersShow.userInfos">
  <div class="infoImg">
    <img ng-src="{{ info.imageSRC }}">
  </div>
  <div class="infoData">
    <p><span>Number:</span> {{ info.number }}</p>
    <p><span>Are there children:</span> {{ info.children }}</p>
    <p><span>Are there pets:</span> {{ info.pets }}</p>
    <p><span>Comment:</span> {{ info.otherInfo }}</p>
  </div>
  <div class="infoBtn">
    <button ng-click="usersShow.deleteInfo(info)" class="btn">Delete</button>
    <a ui-sref="info/{{ info.id }}/edit" class="btn">Edit</a>
  </div>
</div>
