<div>
  <div id="pac-container">
    <label >If the pin below indicates the wrong position, input here your location</label>
    <input id="pac-input" type="text" placeholder="Search Location" autocomplete ng-model="infoEdit.info.location" lat="infoEdit.info.lat" lng="infoEdit.info.lng">
    <div id="map" class="addMap"></div>
  </div>
</div>

Here: {{ infoEdit.info }}


<user-map chosen-location="{ lat: info.lat, lng: info.lng }"></user-map>

<div class="row form">
  <div class="formContainer">

    <form name="infoEdit.editForm" ng-submit="infoEdit.update()" novalidate>

        <div class="question">
          <h4>Number of people?</h4>
          <ul class="q1">
            <li>
              <input type="radio" id ="1" name="number" ng-model="infoEdit.info.number" ng-value="1">
              <label class="num" for="1">1</label>
            </li>
            <li>
              <input type="radio" id ="2" name="number" ng-model="infoEdit.info.number" ng-value="2">
              <label class="num" for="2">2</label>
            </li>
            <li>
              <input type="radio" id ="3" name="number" ng-model="infoEdit.info.number" ng-value="3">
              <label class="num" for="3">3</label>
            </li>
            <li>
              <input type="radio" id ="4" name="number" ng-model="infoEdit.info.number" ng-value="4">
              <label class="num" for="4">4</label>
            </li>
            <li>
              <input type="radio" id ="5" name="number" ng-model="infoEdit.info.number" ng-value="5">
              <label class="num" for="5">5</label>
            </li>
          </ul>
          <div ng-messages="infoEdit.editForm.number.$error" role="alert" ng-show="(infoEdit.editForm.$submitted || infoEdit.editForm.number.$touched) && infoEdit.editForm.number.$invalid" class="error">
            <div ng-message="required">Please enter a value for this field.</div>
          </div>
        </div>

      <div class="question">
        <h4>Are there children?</h4>
        <ul class="q2">
          <li>
            <input type="radio" id="childTrue" name="children" ng-model="infoEdit.info.children" ng-value="true">
            <label for="childTrue">Yes</label>
          </li>
          <li>
            <input type="radio" id="childFalse" name="children" ng-model="infoEdit.info.children" ng-value="false">
            <label for="childFalse">No</label>
          </li>
        </ul>
        <div ng-messages="infoEdit.editForm.children.$error" role="alert" ng-show="(infoEdit.editForm.$submitted || infoEdit.editForm.children.$touched) && infoEdit.editForm.children.$invalid" class="error">
          <div ng-message="required">Please enter a value for this field.</div>
        </div>
      </div>

      <div class="question">
        <h4>Are there pets?</h4>
         <ul class="q2">
          <li>
             <input type="radio" id="petTrue" name="petsTrue" ng-model="infoEdit.info.pets" ng-value="true">
             <label for="petsTrue">Yes</label>
           </li>
           <li>
             <input type="radio" id="petFalse" name="petsTrue" ng-model="infoEdit.info.pets" ng-value="false">
             <label for="petFalse">No</label>
           </li>
         </ul>
         <div ng-messages="infoEdit.editForm.pets.$error" role="alert" ng-show="(infoEdit.editForm.$submitted || infoEdit.editForm.pets.$touched) && infoEdit.editForm.pets.$invalid" class="error">
           <div ng-message="required">Please enter a value for this field.</div>
         </div>
      </div>

      <div class="question">
        <h4>Comment</h4>
        <label for="comment"></label>
        <textarea name="comment" id="comment" ng-model="infoEdit.info.otherInfo" value="info.otherInfo"></textarea>
      </div>

      <button class="btn">Submit</button>

    </form>

  </div>
</div>
