<form class="search-form">
  <div class="form-group">
    <select name="category" required ng-model="infoIndex.category" class="category">
      <option selected value="">All</option>
      <option value="Density">Density of People</option>
      <option value="Density">Areas with Children</option>
      <option value="Density">Areas with Pets</option>
      <option value="Resources">Resources</option>
    </select>
  </div>
</form>

<form class="search-form">
  <div class="form-group">
    <select name="categoryResource" required ng-model="infoIndex.categoryResource" class="categoryResource">
      <option selected value="">All</option>
      <option value="Accommodation">Accommodation</option>
      <option value="Accommodation">Advice</option>
      <option value="Day Centre">Day Centre</option>
      <option value="Health Service">Health Service</option>
    </select>
  </div>
</form>

<info-map resources="infoIndex.filtered" infos="infoIndex.all" ng-if="infoIndex.filtered.length"></info-map>
