<!DOCTYPE html>
<html ng-app="hrApp">
<head>
  <base href="/">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMBRc7S-fUkCbXazZbh-E06kbFfZFk-MQ&libraries=places"></script>
  <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">
  <title>Project 3</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->


</head>
<body ng-controller="MainCtrl as main">
  <nav>
    <div class="pageName">
      <h1><span>A</span>ccomo<span>D</span>ata</h1>
    </div>
    <div class="links">
      <ul>
        <li ng-if="main.isAuthenticated()"><a ui-sref="infoNew" ui-sref-active="active">Home</a></li>
        <li ng-if="main.isAuthenticated()"><a ui-sref="infoIndex" ui-sref-active="active">Info</a></li>
        <li ng-if="main.isAuthenticated()"><a ui-sref="userShow({ id: main.currentUserId })" ui-sref-active="active">Profile</a></li>
        <li ng-if="main.isAuthenticated()"><a ng-click="main.logout()" ui-sref-active="active">Logout</a></li>
        <li ng-if="!main.isAuthenticated()"><a ui-sref="login" ui-sref-active="active">Login</a></li>
        <li ng-if="!main.isAuthenticated()"><a ui-sref="register" ui-sref-active="active">Register</a></li>
      </ul>
    </div>
  </nav>
  <div class="message" ng-if="main.message">
    <p>{{ main.message }}</p>
  </div>
  <main ui-view class="container"></main>
</body>
</html>
