

body {
  font-family: 'Catamaran', sans-serif;


}

* {
  font-family: inherit;
}


//-----------------------------NAVBAR-----------------------------------
nav {
  background-color: #F24E5D;
  top: 0;
  text-align: center;
  .pageName {
    height: 12vh;
    h1 {
      padding-top: 1.5%;
      color: white;
      font-weight: 100;
      margin-top: 0;
      &:after {
        content: '';
        background-color: white;
        height: 5px;
        width: 50%;
        position: absolute;
        bottom: -3px;
        left: 25%;
      }
      span {
        font-weight: bolder;
      }
    }
  }
  .links {
    background-color: #F24E5D;
    height: 5vh;
    top: 20;
    text-align: center;
    ul {
      list-style: none;
      padding-left: 0px;
      margin: 0 auto;
      li {
        padding-left: 3.5vh;
        padding-right: 3.5vh;
        display: inline-block;
        background-color: #F24E5D;
        padding-bottom: 1vh;
        a {
          font-size: 1.7vh;
          color: white;
          text-decoration: none;
          position: relative;
          font-size: 1em;
          &:hover {
            color: white;
            &:after {
              content: '';
              background-color: white;
              height: 1px;
              width: 50%;
              position: absolute;
              bottom: -3px;
              left: 25%;
            }
          }
        }
      }
    }
  }
}

// #line {
//   height: 2px;
//   background-color: white;
//   width: 90%;
//   margin: 0 auto;
//   z-index: 100;
// }

main {
  overflow: visible;
}


//-----------------------------MAPS------------------------------------
.info-map, .user-map, .profile-map {
  height: 50vh;
  width: 100%;
  display: inline-block;
  margin-left: 0px;
  margin-top: 20px;
  border: 3px solid red;
  margin-bottom: 7vh;
}

.centered-styles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.googlePlaces {
  margin-top: 15px;
  color: white;
  text-align: center;
}

//-----------------------------NEW-EDIT-FORM-------------------------------
.form {
  margin-top: 15px;
  text-align: center;
  text-transform: uppercase;

  h2 {
    color: red;
  }
  .formContainer {
    form {
      .question{
        height: 60vh;
        width: 100%;
        text-align: center;
        h4 {
          color: red;
          letter-spacing: 2px;
          margin: 13vh 0;
          font-size: 2.5em;
          font-weight: 900;
        }
        textarea {
          height: 30vh;
          width: 80%;
          margin-right: 9%;

        }
        ul {
          list-style: none;
          padding-left: 0px;
          li {
            position: relative;
            display: inline-block;
            height: 10vh;
            width: 10vh;
            label {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              color: red;
              font-weight: bold;
              font-size: 1.5em;
              padding: 1vh;
              margin: 0;
              &:hover {
                border: 5px solid white;
                border-radius: 30px;
              }
            }
            input[type="radio"]{
              display: none;
              &:checked ~ label {
                border: 5px solid red;
                border-radius: 30px;
                padding:  0 1.5vh;
              }
            }
            .q2 {
              // li {
              //   padding: 20vh;
              //   .bool {
              //     padding-left: 100%;
              //     padding-right: 100%;
              //     &:nth-child(2) {
              //       margin-left: 20vh;
              //     }
              //   }
              // }
            }
          }

        }
      }
      .imageSelect {
        label {
          color: white;
          background-color: #F24E5D;
          border: 2px solid white;
          padding: 20px;
          border-radius: 30px;
        }
        input[type="file"] {
          display: none;
          &:checked ~ label {
            border: 1px solid green;
          }
        }
      }
      button {
        background-color: #F24E5D;
        color: white;
        border: 2px solid white;

      }
    }

  }
}

//--------------------------LOGIN-REGISTER-FORM-------------------
.form {
  form {
    div {
      label {
        color: red;
        padding: 15px;
      }
      input {
        margin-top: 15px;
        width: 80%;
        margin: 0 auto;
      }
      .messages {
        div.message {
          color: white
        }
      }
    }
  }
  button {
    background-color: #F24E5D;
    color: white;
    border: 2px solid white;
    &:hover {
      background-color: white;
      color: #F24E5D;
    }

  }
  .bottomLine {
    color: white;
    margin-bottom: 0;
  }
  a {
    background-color: #F24E5D;
    color: white;
    border: 2px solid white;
    &:hover {
      background-color: white;
      color: #F24E5D;
    }
  }
}


.btn, .flash {
  background-color: white;
  width: 200px;
  margin: 12px;
  border: 1px solid black;
  border-radius: 30px;
  letter-spacing: 3px;
  padding: 15px;
}


//--------------------------USER-PROFILE-----------------------------------
.subNav {
  text-align: center;
  border-bottom: 2px solid white;
  // width: 100%;
  // padding-left: 20%;
  // padding-right: 20%;
  // z-index: 9;
  // background-color: #F24E5D;
  // border-top: 2px solid white;
  margin-top: 3vh;
  .subNavBtn {
    height: 8vh;
    background-color: #F24E5D;
    margin: 0 auto;
    color: white;
    text-transform: uppercase;
    font-size: 1em;
    border: 2px solid white ;
    &:nth-child(1) {

    }
    &:nth-child(2) {

    }
    &:hover {
      text-decoration: none;
      border-color: #F24E5D;

    }
  }
}


.userInfo {
  margin: 0 auto;
  text-align: justify;
  overflow-x: visible;
  .infoData {
    color: red;
    p {
      color: #F24E5D;
      font-size: 2em;
      span {
        font-weight: bold;
      }
    }
  }
  .infoBtn {
    float: right;
    display: inline;
    .btn {
      height: 8vh;
      background-color: #F24E5D;
      margin: 0 auto;
      color: white;
      text-transform: uppercase;
      font-size: 1em;
      border: 2px solid white ;
    }
  }
}

//--------------------------DATA-SHOW-PAGE----------------------------------
select.categoryInfo, .categoryResource {
  color: white;
  border: 2px solid white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  position: center;
  background-color: #F24E5D;
  width: 80%;
  margin-left: 10%;
  letter-spacing: 3px;
  margin-top: 30px;
}

input[type='range'] {
  appearance: none;
  background-color: #F24E5D;
  border-radius: 10px;
  height: 1vh;
  width: 80%;
  margin-left: 10%;
  &:focus {
    outline: none;
  }
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid #F24E5D;
  border-radius: 30px;
  height: 2vh;
  width: 2vh;
}


#pac-container {
  z-index: 999;
}




//---------------------------DONATE-PAGE----------------------------
#about{
  text-align: center;
  .row {
    .firstLink {
      h2 {
        font-size: 3em;
      }
      p {
        width: 80%;
        margin-left: 10%;
      }
      a {
      background-color:  #F24E5D;
      border: 2px solid white;
      text-transform: uppercase;
      font-weight: 700;

      }
    }
    .secondLink {
      h2 {
        font-size: 3em;
      }
      p {
        width: 80%;
        margin-left: 10%;
      }
      a {
      background-color:  #F24E5D;
      border: 2px solid white;
      text-transform: uppercase;
      font-weight: 700;

      }
    }
    .thirdLink {
      h2 {
        font-size: 3em;
      }
      p {
        width: 80%;
        margin-left: 10%;
      }
      a {
      background-color:  #F24E5D;
      border: 2px solid white;
      text-transform: uppercase;
      font-weight: 700;

      }
    }
  }

//-------------------------OTHER-STUFF--------------------------
//   section{
//   text-align: center;
//   padding-top: 80px;
//   padding-bottom: 80px;
//   position: relative;
//   h2 {
//     font-size: 48px;
//     color: white;
//     height: 60vh;
//     width: 100%;
//     font-weight: bold;
//   }
// }
}

.facebook {
  color: dodgerblue;
  background-color: white;
  width: 200px;
  margin: 12px;
  border: 1px solid black;
  border-radius: 30px;
  letter-spacing: 3px;
  padding: 15px;
  font-size: 20px;
}

h2 {
  color: white;
}

label {
  color: red;
}

p,a {
  color: white;
}




.selected {
  border: 3px solid white;
}

.info-window {
  p {
    color: black;
  }

}

.hidden {
  display: none;
}
// #amadre {
//   text-align: center;
// }

// .myDiv{
//   text-align: center;
//     width: 100%;
//     height: 100%;
//     background-color: #F24E5D;
//    -webkit-transition: 1s ease-in-out;
//     /*to only change opacity*/
//     /*-webkit-transition: opacity 1s ease-in-out*/
//   //  -moz-transition: 1s ease-in-out;
//   //  -o-transition: 1s ease-in-out;
//    transition: 0.5s ease-in-out ;
//    animation: typing 10s;
//    opacity: 1;
// }
//
// .foo{
//     background-color: #F24E5D;
//     opacity: 0;
//     height: 0;
// }



// .closeBtn {
//   text-transform: uppercase;
//   padding: 2%;
//   font-weight: bold;
//   background-color: #F24E5D;
//   color: white;
//   border: 2px solid white;
//   margin: 0 auto;
//   &:hover {
//     color: #F24E5D;
//     background-color: white;
//
//   }
//
// }
