body {

  font-family: 'Montserrat', sans-serif;

}

* {
  font-family: inherit;
}


//-----------------------------NAVBAR-----------------------------------



main  {
  margin-top: 133px;
}

nav {
  position:fixed;
  overflow: hidden;
  left: 0;
  width: 100%;
  z-index:999;
  top: 0;
  text-align: center;
  .gradient {
    background: linear-gradient(#F24E5D, #77252c);
    .pageName {
      height: 12vh;
      h1 {
        padding-top: 1.5%;
        color: white;
        font-weight: 100;
        margin-top: 0;
        #data {
          font-family: 'Bungee Outline', cursive;
          text-transform: lowercase;
        }
      }
    }
    .links {
      height: 5vh;
      top: 20;
      text-align: center;
      ul {
        list-style: none;
        padding-left: 0px;
        margin: 0 auto;
        li {
          padding-left: 3.5vh;
          padding-right: 3.5vh;
          display: inline-block;
          padding-bottom: 1vh;
          a {
            font-size: 1.7vh;
            color: white;
            text-decoration: none;
            position: relative;
            font-size: 1em;
            &:hover {
              color: white;
              &:after {
                content: '';
                background-color: white;
                height: 1px;
                width: 50%;
                position: absolute;
                bottom: -3px;
                left: 25%;
              }
            }
          }
        }
      }
    }
  }
}


//-----------------------------MAPS------------------------------------
.info-map, .user-map, .profile-map {
  height: 50vh;
  width: 100%;
  display: inline-block;
  margin-left: 0px;
  margin-top: 20px;
  border: 3px solid #F24E5D;
  margin-bottom: 7vh;
}

.centered-styles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.googlePlaces {
  margin-top: 15px;
  color: #77252c;
  text-align: center;
}

p {
  color: #F24E5D;
  margin: 2vh auto;
}

//-----------------------------NEW-EDIT-FORM-------------------------------
.form {
  margin-top: 15px;
  text-align: center;
  text-transform: uppercase;
  h2 {
    color: #F24E5D;
  }
  .formContainer {
    form {
      .question{
        height: 60vh;
        width: 100%;
        text-align: center;
        h4 {
          color: #F24E5D;
          letter-spacing: 2px;
          margin: 13vh 0;
          font-size: 2.5em;
          font-weight: 900;
        }
        textarea {
          height: 30vh;
<<<<<<< HEAD
          width: 80%;
          margin-right: 9%;
=======
          width: 80vh;
>>>>>>> development
        }
        ul {
          list-style: none;
          padding-left: 0px;
          li {
            position: relative;
            display: inline-block;
            height: 10vh;
            width: 10vh;
            label {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              color: #F24E5D;
              font-weight: bold;
              font-size: 1.5em;
              padding: 1vh;
              margin: 0;
              &:hover {
                border: 5px solid white;
                border-radius: 30px;
              }
            }
            input[type="radio"]{
              display: none;
              &:checked ~ label {
                border: 5px solid #F24E5D;
                border-radius: 30px;
                // padding:  0 1.5vh;
              }
            }
          }
        }
      }
      .imageSelect {
        label {
          color: white;
          background-color: #F24E5D;
          border: 2px solid white;
          padding: 20px;
          border-radius: 30px;
        }
        input[type="file"] {
          display: none;
          &:checked ~ label {
            border: 1px solid green;
          }
        }
      }
      button {
        background-color: #F24E5D;
        color: white;
        border: 2px solid white;
      }
    }
  }
}

<<<<<<< HEAD
=======
//--------------------------LOGIN-REGISTER-FORM-------------------
>>>>>>> development
.form {
  form {
    div {
      label {
        color: #F24E5D;
        padding: 15px;
      }
      input {
        margin-top: 15px;
        width: 80%;
        margin: 0 auto;
      }
      .messages {
        div.message {
          color: white
        }
      }
    }
  }
  button {
    background-color: #F24E5D;
    color: white;
    border: 2px solid white;
    &:hover {
      background-color: white;
      color: #F24E5D;
      border-color:  #F24E5D;
    }
  }
  .bottomLine {
    color: #F24E5D;
  }
}


.btn, .flash {
  background-color: white;
  width: 200px;
  margin: 12px;
  border: 1px solid black;
  border-radius: 30px;
  letter-spacing: 3px;
  padding: 15px;
}
<<<<<<< HEAD
=======


//--------------------------USER-PROFILE-----------------------------------
.subNav {
  text-align: center;
  border-bottom: 2px solid white;
  // width: 100%;
  // padding-left: 20%;
  // padding-right: 20%;
  // z-index: 9;
  // background-color: #F24E5D;
  // border-top: 2px solid white;
  margin-top: 3vh;
  .subNavBtn {
    height: 8vh;
    background-color: #F24E5D;
    margin: 0 auto;
    color: white;
    text-transform: uppercase;
    font-size: 1em;
    border: 2px solid white ;
    &:nth-child(1) {

    }
    &:nth-child(2) {

    }
    &:hover {
      text-decoration: none;
      border-color: #F24E5D;
    }
  }
}


>>>>>>> development
.userInfo {
  margin: 0 auto;
  text-align: justify;
  overflow-x: visible;
  .infoData {
    color: #F24E5D;
    p {
      color: #F24E5D;
      font-size: 2em;
      span {
        font-weight: bold;
      }
    }
  }
  .infoBtn {
    float: right;
    display: inline;
    .btn {
      height: 8vh;
      background-color: #F24E5D;
      margin: 0 auto;
      color: white;
      text-transform: uppercase;
      font-size: 1em;
      border: 2px solid white ;
    }
  }
}

//--------------------------DATA-SHOW-PAGE----------------------------------
select.categoryInfo, .categoryResource {
  color: white;
  border: 2px solid white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  position: center;
  background-color: #F24E5D;
  width: 80%;
  margin-left: 10%;
  letter-spacing: 3px;
  margin-top: 30px;
}

input[type='range'] {
  appearance: none;
  background-color: #F24E5D;
  border-radius: 10px;
  height: 1vh;
  width: 80%;
  margin-left: 10%;
  &:focus {
    outline: none;
  }
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: white;
  border: 2px solid #F24E5D;
  border-radius: 30px;
  height: 2vh;
  width: 2vh;
}


#pac-container {
  z-index: 999;
}




//---------------------------DONATE-PAGE----------------------------
#about{
  text-align: center;
  .row {
    .firstLink {
      h2 {
        font-size: 3em;
      }
      p {
        width: 80%;
        margin-left: 10%;
      }
      a {
      background-color:  #F24E5D;
      border: 2px solid white;
      text-transform: uppercase;
      font-weight: 700;
      }
    }
    .secondLink {
      h2 {
        font-size: 3em;
      }
      p {
        width: 80%;
        margin-left: 10%;
      }
      a {
      background-color:  #F24E5D;
      border: 2px solid white;
      text-transform: uppercase;
      font-weight: 700;
      }
    }
    .thirdLink {
      h2 {
        font-size: 3em;
      }
      p {
        width: 80%;
        margin-left: 10%;
      }
      a {
      background-color:  #F24E5D;
      border: 2px solid white;
      text-transform: uppercase;
      font-weight: 700;

      }
    }
  }
}
//-------------------------OTHER-STUFF--------------------------
h2 {
  color: #F24E5D;
}

label {
  color: #F24E5D;
}
.facebook {
  color: dodgerblue;
  background-color: white;
  width: 200px;
  margin: 12px;
  border: 1px solid black;
  border-radius: 30px;
  letter-spacing: 3px;
  padding: 15px;
  font-size: 20px;
}



// .selected {
//   border: 3px solid white;
// }

.hidden {
  display: none;
}
